@import "../../assets/fonts/fonts.css";

:root {
  --neon-background-light: #fff;
  --neon-color-text-light: #0c0f13;
  --neon-color-light-primary:black;
  --neon-color-dark-primary:white;
  --neon-background-dark: #0c0f13;
  --neon-color-text-dark: #fff;
  --neon-color-text-el-drak-bg:#fff;
  --neon-color-text-el-light-bg:#0c0f13;
  //
  --neon-main-primary-color: black;
  --neon-color-link-hover: #fff;
  --neon-cursor-color: white;
  //
  --neon-border-radius: .5em;
}

@mixin color-scheme-light {
  --neon-color-mode: "light";
  --neon-text-color: var(--neon-color-text-light);
  --neon-el-text-color: var(--neon-color-text-el-drak-bg);
  --neon-background-color: var(--neon-background-light);
  --neon-border-color: var(--neon-border-light);
  --neon-el-primary-color: var(--neon-color-light-primary);
  --neon-logo-weight: 300;
  --neon-red-shadow: none;
  --neon-blue-shadow: none;
  --neon-green-shadow: none;
}

@mixin color-scheme-dark {
  --neon-color-mode: "dark";
  --neon-text-color: var(--neon-color-text-dark);
  --neon-el-text-color: var(--neon-color-text-el-light-bg);
  --neon-background-color: var(--neon-background-dark);
  --neon-border-color: var(--neon-border-dark);
  --neon-el-primary-color: var(--neon-color-dark-primary);

  --neon-logo-weight: 600;
  --neon-red-shadow: 0 0 80px red, 0 0 30px firebrick, 0 0 6px darkred;
  --neon-blue-shadow: 0 0 80px blue, 0 0 30px darkblue, 0 0 6px darkblue;
  --neon-green-shadow: 0 0 80px green, 0 0 30px rgb(1, 126, 1), 0 0 6px darkgreen;
}

@media (prefers-color-scheme: dark) {
  :root:not([neon-color-scheme]) {
    @include color-scheme-dark;
  }
}

[neon-color-scheme="light"] {
  @include color-scheme-light;
}

[neon-color-scheme="dark"] {
  @include color-scheme-dark;
}